<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ContactEmail" value="steven.bouche@outlook.com" />
        <add key="Domains" value="apiRobot.com, *.apiRobot.com" />
        <add key="CertificateFileName" value="APIRobot" />
        <add key="CertificatePassword" value="azerty" />
    </appSettings>
</configuration>